.datatable .col {
    cursor: pointer;
  }
  
  .datatable .col .pointer:after {
    font-size: 40%;
    content: "🔻";
    margin-right: 0;
  }
  
  .datatable .col .pointer:hover:after {
    font-size: 80%;
    content: "🔻";
    margin-right: 0;
  }